iso_url                   = "file:///mnt/c/isos/ubuntu-22.04.5-live-server-amd64.iso"
iso_checksum              = "sha256:REPLACE_ME"
vm_name                   = "nginx-sre"
cpus                      = 2
memory                    = 2048
disk_size                 = 20480
ssh_username              = "ubuntu"
ssh_password              = "ubuntu"
vmware_workstation_path   = "/mnt/c/Program Files (x86)/VMware/VMware Workstation"
ovftool_path_windows      = "/mnt/c/Program Files/VMware/VMware OVF Tool/ovftool.exe"
output_directory          = "output-nginx-sre"
http_directory            = "http"
headless                  = true
